<section class="section">
    <div class="container" style="text-align: center; border: 1.5px solid lightgray;">
        <img src="https://media.tenor.com/images/18a92c66af69580997b965ed719cfb89/tenor.gif">
    </div>
</section>

<div class="container">
    <h4 class="title is-4 josefin-sans">Projects</h4>
    <hr>
</div>

<div class="container">
    
    <!-- first row -->
    <div class="columns">
        <div class="column is-one-third">
            <div class="card" style="border-radius: 15px 40px; min-height: 10.5rem; border: 1px solid lightgray">
                <div class="card-content">
                    <div class="content">
                        <h5 class="title is-5 josefin-sans"><a href="projects/ideadb" class="has-text-primary">ideaDB</a> <span class="tag is-warning">under construction</span></h5>
                        <p class="subtitle is-6 quicksand">A public repository of ideas.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" style="border-radius: 15px 40px; min-height: 10.5rem; border: 1px solid gold">
                <div class="card-content">
                    <div class="content quicksand">
                        <h5 class="title is-5 josefin-sans"><a href="projects/planner" class="has-text-primary">planner</a></h5>
                        <p class="subtitle is-6 quicksand">A personal planner that utilizes <code>SHA-2</code> to protect individual user identity. All planners are saved to the cloud, accessible anywhere.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column">
            <div class="card" style="border-radius: 15px 40px; min-height: 10.5rem; border: 1px solid lightgray">
                <div class="card-content">
                    <div class="content quicksand">
                        <h5 class="title is-5 josefin-sans"><a href="projects/shelterjs" class="has-text-primary">shelterjs</a></h5>
                        <p class="subtitle is-6 quicksand">An attempted web-based game based on Fallout Shelter.</p>
                        <a href="https://github.com/thejykim/shelterjs"><button class="button is-small">
                            <span class="icon is-small"><i class="fab fa-github"></i></span>
                            <span class="quicksand">GitHub</span>
                        </button></a>
                    </div>
                </div>
            </div>
        </div>
        
    </div>
    
    <!-- second row -->
    <div class="columns">
        <div class="column is-one-third">
            <div class="card" style="border-radius: 15px 40px; min-height: 10.5rem; border: 1px solid lightgray">
                <div class="card-content">
                    <div class="content">
                        <h5 class="title is-5 josefin-sans"><a href="projects/HongKong" class="has-text-primary">HongKong</a></h5>
                        <p class="subtitle is-6 quicksand">Aggregated Hong Kong happenings from the NY times and the Guardian.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="column is-one-third">
            <div class="card" style="border-radius: 15px 40px; min-height: 10.5rem; border: 1px solid lightgray">
                <div class="card-content">
                    <div class="content quicksand">
                        <h5 class="title is-5 josefin-sans"><a href="projects/swipes" class="has-text-primary">swipes</a></h5>
                        <p class="subtitle is-6 quicksand">Calculate meal swipe usage, designed for UNC-Chapel Hill students.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>