@import url('https://fonts.googleapis.com/css?family=Josefin+Sans|Quicksand&display=swap');

html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.main-body {
    flex: 1 0 auto;
}

.footer {
    flex-shrink: 0;
}

.josefin-sans {
    font-family: 'Josefin Sans', sans-serif;
}

.quicksand {
    font-family: 'Quicksand', sans-serif;
}

::selection {
    background: #33d1b1;
    color:white;
}

::-moz-selection {
    background: #33d1b1;
    color:white;
}